# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store

# Platform folders sinh tự động bởi `flutter create .`
# (bỏ comment nếu bạn muốn commit chúng)
# android/
# ios/
